body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-38px;
  width:561px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:38px;
  top:39px;
  width:73px;
  height:25px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:44px;
  top:97px;
  width:560px;
  height:65px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u5 {
  position:absolute;
  left:139px;
  top:0px;
  width:139px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u7 {
  position:absolute;
  left:278px;
  top:0px;
  width:139px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u9 {
  position:absolute;
  left:417px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:139px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u13 {
  position:absolute;
  left:139px;
  top:30px;
  width:139px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u15 {
  position:absolute;
  left:278px;
  top:30px;
  width:139px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u17 {
  position:absolute;
  left:417px;
  top:30px;
  width:138px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
