body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:1381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3638 {
  position:absolute;
  left:26px;
  top:187px;
  width:335px;
  height:25px;
}
#u3639 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u3640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3640 {
  position:absolute;
  left:26px;
  top:246px;
  width:100px;
  height:60px;
}
#u3641 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3642 {
  position:absolute;
  left:26px;
  top:353px;
  width:100px;
  height:60px;
}
#u3643 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3644 {
  position:absolute;
  left:26px;
  top:455px;
  width:100px;
  height:60px;
}
#u3645 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3646 {
  position:absolute;
  left:26px;
  top:556px;
  width:100px;
  height:60px;
}
#u3647 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3648 {
  position:absolute;
  left:26px;
  top:665px;
  width:100px;
  height:60px;
}
#u3649 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3650 {
  position:absolute;
  left:26px;
  top:762px;
  width:100px;
  height:60px;
}
#u3651 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3652 {
  position:absolute;
  left:26px;
  top:855px;
  width:100px;
  height:60px;
}
#u3653 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3654 {
  position:absolute;
  left:243px;
  top:455px;
  width:100px;
  height:60px;
}
#u3655 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u3656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3656 {
  position:absolute;
  left:243px;
  top:665px;
  width:100px;
  height:60px;
}
#u3657 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3658 {
  position:absolute;
  left:76px;
  top:306px;
  width:0px;
  height:0px;
}
#u3658_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u3658_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u3659 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3660 {
  position:absolute;
  left:76px;
  top:413px;
  width:0px;
  height:0px;
}
#u3660_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u3660_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u3661 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3662 {
  position:absolute;
  left:76px;
  top:515px;
  width:0px;
  height:0px;
}
#u3662_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u3662_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u3663 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u3664 {
  position:absolute;
  left:76px;
  top:616px;
  width:0px;
  height:0px;
}
#u3664_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u3664_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u3665 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3666 {
  position:absolute;
  left:76px;
  top:725px;
  width:0px;
  height:0px;
}
#u3666_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u3666_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u3667 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u3668 {
  position:absolute;
  left:76px;
  top:822px;
  width:0px;
  height:0px;
}
#u3668_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u3668_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u3669 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3670 {
  position:absolute;
  left:126px;
  top:485px;
  width:0px;
  height:0px;
}
#u3670_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u3670_seg1 {
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3671 {
  position:absolute;
  left:8px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u3672 {
  position:absolute;
  left:293px;
  top:455px;
  width:0px;
  height:0px;
}
#u3672_seg0 {
  position:absolute;
  left:-4px;
  top:-31px;
  width:8px;
  height:31px;
}
#u3672_seg1 {
  position:absolute;
  left:-218px;
  top:-31px;
  width:222px;
  height:8px;
}
#u3672_seg2 {
  position:absolute;
  left:-225px;
  top:-37px;
  width:20px;
  height:20px;
}
#u3673 {
  position:absolute;
  left:-146px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3674 {
  position:absolute;
  left:126px;
  top:695px;
  width:0px;
  height:0px;
}
#u3674_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u3674_seg1 {
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3675 {
  position:absolute;
  left:8px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u3676 {
  position:absolute;
  left:293px;
  top:725px;
  width:0px;
  height:0px;
}
#u3676_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u3676_seg1 {
  position:absolute;
  left:-167px;
  top:63px;
  width:171px;
  height:8px;
}
#u3676_seg2 {
  position:absolute;
  left:-174px;
  top:57px;
  width:20px;
  height:20px;
}
#u3677 {
  position:absolute;
  left:-100px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3678 {
  position:absolute;
  left:26px;
  top:955px;
  width:100px;
  height:60px;
}
#u3679 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3680 {
  position:absolute;
  left:76px;
  top:915px;
  width:0px;
  height:0px;
}
#u3680_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u3680_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u3681 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:284px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3682 {
  position:absolute;
  left:26px;
  top:1287px;
  width:507px;
  height:284px;
}
#u3683 {
  position:absolute;
  left:2px;
  top:134px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3684 {
  position:absolute;
  left:265px;
  top:1261px;
  width:29px;
  height:20px;
}
#u3685 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3686 {
  position:absolute;
  left:197px;
  top:1477px;
  width:161px;
  height:41px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u3688_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:146px;
  height:25px;
}
#u3688 {
  position:absolute;
  left:560px;
  top:1432px;
  width:134px;
  height:5px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:-14px;
  width:130px;
  word-wrap:break-word;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  position:absolute;
  left:792px;
  top:1155px;
  width:108px;
  height:16px;
}
#u3691 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3692 {
  position:absolute;
  left:808px;
  top:1677px;
  width:116px;
  height:6px;
}
#u3693 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u3694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:452px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3694 {
  position:absolute;
  left:720px;
  top:1703px;
  width:300px;
  height:452px;
}
#u3695 {
  position:absolute;
  left:2px;
  top:218px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3696 {
  position:absolute;
  left:762px;
  top:1744px;
  width:215px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u3697 {
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u3698 {
  position:absolute;
  left:762px;
  top:1792px;
  width:215px;
  height:38px;
  color:#999999;
  text-align:left;
}
#u3699 {
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3700 {
  position:absolute;
  left:762px;
  top:1865px;
  width:215px;
  height:49px;
}
#u3701 {
  position:absolute;
  left:2px;
  top:16px;
  width:211px;
  word-wrap:break-word;
}
#u3702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3702 {
  position:absolute;
  left:744px;
  top:2003px;
  width:40px;
  height:40px;
}
#u3703 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3704 {
  position:absolute;
  left:817px;
  top:2003px;
  width:40px;
  height:40px;
}
#u3705 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3706 {
  position:absolute;
  left:894px;
  top:2003px;
  width:40px;
  height:40px;
}
#u3707 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3708 {
  position:absolute;
  left:960px;
  top:2003px;
  width:40px;
  height:40px;
}
#u3709 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3710 {
  position:absolute;
  left:229px;
  top:2128px;
  width:102px;
  height:16px;
}
#u3711 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u3712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:442px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3712 {
  position:absolute;
  left:130px;
  top:2154px;
  width:300px;
  height:442px;
}
#u3713 {
  position:absolute;
  left:2px;
  top:213px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3714 {
  position:absolute;
  left:130px;
  top:2154px;
  width:300px;
  height:55px;
}
#u3715 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u3716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3716 {
  position:absolute;
  left:181px;
  top:2186px;
  width:187px;
  height:16px;
}
#u3717 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u3718_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:62px;
}
#u3718 {
  position:absolute;
  left:278px;
  top:2042px;
  width:5px;
  height:50px;
  text-align:left;
}
#u3719 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:15px;
}
#u3720p000 {
  position:absolute;
  left:0px;
  top:6px;
  width:126px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3720p000_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:128px;
  height:4px;
}
#u3720p001 {
  position:absolute;
  left:-1px;
  top:2px;
  width:22px;
  height:3px;
  -webkit-transform:rotate(-21deg);
  -moz-transform:rotate(-21deg);
  -ms-transform:rotate(-21deg);
  transform:rotate(-21deg);
}
#u3720p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:6px;
}
#u3720p002 {
  position:absolute;
  left:-1px;
  top:2px;
  width:22px;
  height:2px;
  -webkit-transform:rotate(162deg);
  -moz-transform:rotate(162deg);
  -ms-transform:rotate(162deg);
  transform:rotate(162deg);
}
#u3720p002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:24px;
  height:4px;
}
#u3720p003 {
  position:absolute;
  left:-1px;
  top:9px;
  width:20px;
  height:2px;
  -webkit-transform:rotate(27deg);
  -moz-transform:rotate(27deg);
  -ms-transform:rotate(27deg);
  transform:rotate(27deg);
}
#u3720p003_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:4px;
}
#u3720.compound {
  width:0px;
  height:0px;
}
#u3720 {
  position:absolute;
  left:536px;
  top:1475px;
  width:125px;
  height:14px;
}
#u3721 {
  position:absolute;
  left:2px;
  top:-1px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3722 {
  position:absolute;
  left:562px;
  top:1460px;
  width:99px;
  height:20px;
}
#u3723 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:433px;
}
#u3724p000 {
  position:absolute;
  left:41px;
  top:431px;
  width:126px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3724p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:128px;
  height:4px;
}
#u3724p001 {
  position:absolute;
  left:-173px;
  top:216px;
  width:432px;
  height:7px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
#u3724p001_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:434px;
  height:8px;
}
#u3724p002 {
  position:absolute;
  left:-1px;
  top:5px;
  width:46px;
  height:3px;
  -webkit-transform:rotate(-179deg);
  -moz-transform:rotate(-179deg);
  -ms-transform:rotate(-179deg);
  transform:rotate(-179deg);
}
#u3724p002_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:48px;
  height:6px;
}
#u3724p003 {
  position:absolute;
  left:-2px;
  top:2px;
  width:26px;
  height:2px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u3724p003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:4px;
}
#u3724p004 {
  position:absolute;
  left:-2px;
  top:2px;
  width:26px;
  height:2px;
  -webkit-transform:rotate(165deg);
  -moz-transform:rotate(165deg);
  -ms-transform:rotate(165deg);
  transform:rotate(165deg);
}
#u3724p004_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:4px;
}
#u3724p005 {
  position:absolute;
  left:-2px;
  top:9px;
  width:25px;
  height:3px;
  -webkit-transform:rotate(23deg);
  -moz-transform:rotate(23deg);
  -ms-transform:rotate(23deg);
  transform:rotate(23deg);
}
#u3724p005_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:6px;
}
#u3724.compound {
  width:0px;
  height:0px;
}
#u3724 {
  position:absolute;
  left:538px;
  top:1510px;
  width:166px;
  height:432px;
}
#u3725 {
  position:absolute;
  left:2px;
  top:208px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3726 {
  position:absolute;
  left:595px;
  top:1921px;
  width:115px;
  height:40px;
}
#u3727 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:284px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  position:absolute;
  left:26px;
  top:1719px;
  width:507px;
  height:284px;
}
#u3729 {
  position:absolute;
  left:2px;
  top:134px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3730 {
  position:absolute;
  left:197px;
  top:1909px;
  width:161px;
  height:41px;
}
#u3731 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u3732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:284px;
}
#u3732 {
  position:absolute;
  left:26px;
  top:1719px;
  width:507px;
  height:284px;
  opacity:0.5;
}
#u3733 {
  position:absolute;
  left:2px;
  top:134px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3734 {
  position:absolute;
  left:130px;
  top:1784px;
  width:300px;
  height:158px;
}
#u3735 {
  position:absolute;
  left:2px;
  top:71px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3737 {
  position:absolute;
  left:418px;
  top:1771px;
  width:29px;
  height:29px;
}
#u3738 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
#u3739 {
  position:absolute;
  left:427px;
  top:1785px;
  width:10px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u3740 {
  position:absolute;
  left:2px;
  top:-8px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u3741 {
  position:absolute;
  left:427px;
  top:1785px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u3742 {
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3743 {
  position:absolute;
  left:142px;
  top:1814px;
  width:264px;
  height:18px;
}
#u3744 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u3745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3745 {
  position:absolute;
  left:153px;
  top:1879px;
  width:255px;
  height:35px;
}
#u3746 {
  position:absolute;
  left:2px;
  top:8px;
  width:251px;
  word-wrap:break-word;
}
#u3747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3747 {
  position:absolute;
  left:169px;
  top:2429px;
  width:222px;
  height:34px;
}
#u3748 {
  position:absolute;
  left:2px;
  top:8px;
  width:218px;
  word-wrap:break-word;
}
#u3749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3749 {
  position:absolute;
  left:295px;
  top:2059px;
  width:158px;
  height:16px;
}
#u3750 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u3751_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:101px;
}
#u3751 {
  position:absolute;
  left:278px;
  top:1592px;
  width:5px;
  height:89px;
  text-align:left;
}
#u3752 {
  position:absolute;
  left:2px;
  top:36px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3753 {
  position:absolute;
  left:295px;
  top:1625px;
  width:130px;
  height:16px;
}
#u3754 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u3755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u3755 {
  position:absolute;
  left:1003px;
  top:1890px;
  width:94px;
  height:15px;
}
#u3756 {
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3757 {
  position:absolute;
  left:1107px;
  top:1889px;
  width:300px;
  height:18px;
  color:#FF0000;
}
#u3758 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u3759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759 {
  position:absolute;
  left:720px;
  top:1185px;
  width:287px;
  height:456px;
}
#u3760 {
  position:absolute;
  left:2px;
  top:220px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3761 {
  position:absolute;
  left:720px;
  top:1185px;
  width:287px;
  height:38px;
}
#u3762 {
  position:absolute;
  left:2px;
  top:11px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u3763 {
  position:absolute;
  left:727px;
  top:1194px;
  width:12px;
  height:21px;
}
#u3764 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3765 {
  position:absolute;
  left:748px;
  top:1197px;
  width:29px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3766 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3767 {
  position:absolute;
  left:834px;
  top:1245px;
  width:60px;
  height:60px;
}
#u3768 {
  position:absolute;
  left:2px;
  top:21px;
  width:56px;
  word-wrap:break-word;
}
#u3769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3769 {
  position:absolute;
  left:830px;
  top:1315px;
  width:67px;
  height:16px;
}
#u3770 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u3771 {
  position:absolute;
  left:755px;
  top:1390px;
  width:53px;
  height:53px;
}
#u3772 {
  position:absolute;
  left:2px;
  top:11px;
  width:49px;
  word-wrap:break-word;
}
#u3773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u3773 {
  position:absolute;
  left:911px;
  top:1390px;
  width:53px;
  height:53px;
}
#u3774 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u3775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3775 {
  position:absolute;
  left:781px;
  top:1332px;
  width:165px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u3776 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u3777_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:93px;
  height:21px;
}
#u3777p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:85px;
  height:1px;
}
#u3777p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:96px;
  height:22px;
}
#u3777p001 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3777p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u3777.compound {
  width:0px;
  height:0px;
}
#u3777 {
  position:absolute;
  left:818px;
  top:1408px;
  width:83px;
  height:1px;
}
#u3778 {
  position:absolute;
  left:2px;
  top:-8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3779_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:94px;
  height:21px;
}
#u3779p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:85px;
  height:1px;
}
#u3779p000_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:98px;
  height:22px;
}
#u3779p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3779p001_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:32px;
  height:42px;
}
#u3779.compound {
  width:0px;
  height:0px;
}
#u3779 {
  position:absolute;
  left:818px;
  top:1419px;
  width:83px;
  height:1px;
}
#u3780 {
  position:absolute;
  left:2px;
  top:-8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3781 {
  position:absolute;
  left:755px;
  top:1481px;
  width:217px;
  height:37px;
}
#u3782 {
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u3783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3783 {
  position:absolute;
  left:1046px;
  top:1476px;
  width:140px;
  height:54px;
  color:#FF0000;
}
#u3784 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3785 {
  position:absolute;
  left:1045px;
  top:1229px;
  width:211px;
  height:20px;
  color:#FF0000;
}
#u3786 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u3787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:28px;
}
#u3787p000 {
  position:absolute;
  left:-8px;
  top:12px;
  width:35px;
  height:3px;
  -webkit-transform:rotate(55deg);
  -moz-transform:rotate(55deg);
  -ms-transform:rotate(55deg);
  transform:rotate(55deg);
}
#u3787p000_img {
  position:absolute;
  left:0px;
  top:-2px;
  width:36px;
  height:6px;
}
#u3787p001 {
  position:absolute;
  left:18px;
  top:26px;
  width:284px;
  height:2px;
}
#u3787p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:286px;
  height:4px;
}
#u3787.compound {
  width:0px;
  height:0px;
}
#u3787 {
  position:absolute;
  left:734px;
  top:1209px;
  width:301px;
  height:27px;
}
#u3788 {
  position:absolute;
  left:2px;
  top:6px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u3789 {
  position:absolute;
  left:957px;
  top:1495px;
  width:78px;
  height:1px;
}
#u3790 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u3791 {
  position:absolute;
  left:26px;
  top:58px;
  width:779px;
  height:72px;
  line-height:24px;
}
#u3792 {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  word-wrap:break-word;
}
#u3793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:17px;
}
#u3793 {
  position:absolute;
  left:26px;
  top:1070px;
  width:69px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:17px;
}
#u3794 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u3795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u3795 {
  position:absolute;
  left:220px;
  top:2240px;
  width:120px;
  height:120px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:28px;
  color:#D7D7D7;
}
#u3796 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u3797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u3797 {
  position:absolute;
  left:190px;
  top:1443px;
  width:168px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u3798 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u3799 {
  position:absolute;
  left:529px;
  top:287px;
  width:320px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u3800 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
